.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.logo {
  background-image: url('./loc-logo.png');
  height: 70px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

input {
  padding: 10px;
  height: 20px;
  width: 500px;
  border: 1px solid purple;
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.pos-rel {
  position: relative;
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: whitesmoke;
  right: 10px;
  top: 52px;
  width: 520px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 5px;
}

.option,
span {
  font-size: 28px;
  text-transform: capitalize;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}